@import "variables";

@mixin cbb($color: null, $background, $border) {
  @if $color {
    color: $color;
  }

  background-color: $background;
  border: $border;
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin backdrop-filter($filter) {
  backdrop-filter: $filter;
  -webkit-backdrop-filter: $filter;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin user-select($select) {
  -khtml-user-select: $select;
  -o-user-select: $select;
  -moz-user-select: $select;
  -webkit-user-select: $select;
  user-select: $select;
}

@mixin cover {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
