@use "sass:map";

// PALETTE
$clr-white: #fff;
$clr-black: #000;
$clr-font: #343a40;
$clr-font-headline: #212529;
$clr-font-light: #f8f9fa;

$bg-dark: #262626;
$bg-dark-transparent: rgba(38, 38, 38, 0.98);

$palettes: (
  neutral: (
    50: #cccccc,
    100: #b8b8b8,
    200: #a3a3a3,
    300: #8f8f8f,
    400: #7a7a7a,
    500: #666666,
    600: #525252,
    700: #3d3d3d,
    800: #292929,
    900: #141414,
  ),
  primary: (
    50: #fde6e9,
    100: #f7b0ba,
    200: #f48a99,
    300: #ee546b,
    400: #eb334e,
    500: #e60022,
    600: #d1001f,
    700: #a30018,
    800: #7f0013,
    900: #61000e,
  ),
  secondary: (
    50: #f0f1f3,
    100: #cfd3d9,
    200: #b8bdc6,
    300: #989fad,
    400: #848d9d,
    500: #657084,
    600: #5c6678,
    700: #48505e,
    800: #383e49,
    900: #2a2f37,
  ),
  gray: (
    50: #f8f9fa,
    100: #f1f3f5,
    200: #e9ecef,
    300: #dee2e6,
    400: #ced4da,
    500: #adb5bd,
    600: #868e96,
    700: #495057,
    800: #343a40,
    900: #212529,
  ),
  dark: (
    50: #f5f5f5,
    100: #f0f0f0,
    200: #e7e7e7,
    300: #d7d7d7,
    400: #b7b7b7,
    500: #989898,
    600: #747474,
    700: #3d3d3d,
    800: #2e2e2e,
    900: #1e1e1e,
  ),
  red: (
    50: #fae6e6,
    100: #efb0b0,
    200: #e88a8a,
    300: #dd5454,
    400: #d63333,
    500: #cc0000,
    600: #ba0000,
    700: #910000,
    800: #700000,
    900: #560000,
  ),
  yellow: (
    50: #fef5e6,
    100: #fce1b0,
    200: #fad38a,
    300: #f8bf54,
    400: #f7b233,
    500: #f59f00,
    600: #df9100,
    700: #ae7100,
    800: #875700,
    900: #674300,
  ),
  orange: (
    50: #fff2e8,
    100: #fed7b6,
    200: #fec493,
    300: #fea962,
    400: #fd9843,
    500: #fd7e14,
    600: #e67312,
    700: #b4590e,
    800: #8b450b,
    900: #6a3508,
  ),
  green: (
    50: #e6f7ec,
    100: #b0e7c4,
    200: #8adca8,
    300: #54cc80,
    400: #33c267,
    500: #00b341,
    600: #00a33b,
    700: #007f2e,
    800: #006224,
    900: #004b1b,
  ),
  blue: (
    50: #e6f1fd,
    100: #b0d3f8,
    200: #8abdf4,
    300: #549ff0,
    400: #338ded,
    500: #0070e8,
    600: #0066d3,
    700: #0050a5,
    800: #003e80,
    900: #002f61,
  ),
  purple: (
    50: #f6e7fa,
    100: #e3b6ee,
    200: #d692e6,
    300: #c360db,
    400: #b741d4,
    500: #a512c9,
    600: #9610b7,
    700: #750d8f,
    800: #5b0a6f,
    900: #450854,
  ),
  pink: (
    50: #fdebf1,
    100: #f7c1d4,
    200: #f4a3bf,
    300: #ee79a2,
    400: #eb5f90,
    500: #e63774,
    600: #d1326a,
    700: #a32752,
    800: #7f1e40,
    900: #611731,
  ),
);

@function color($color, $tone) {
  @if map.has-key($palettes, $color) {
    $color: map.get($palettes, $color);

    @if map.has-key($color, $tone) {
      $tone: map.get($color, $tone);
      @return $tone;
    }

    @warn "unknown tone `#{$tone}` in color";
    @return null;
  }

  @warn "unknown color `#{$color}` in palette";
  @return null;
}
