// PALETTE
$clr-white: #fff;
$clr-black: #000;
$clr-font: #343a40;
$clr-font-headline: #212529;
$clr-font-light: #f8f9fa;

$bg-dark: #262626;
$bg-dark-transparent: #262626e6;

$palettes: (
  neutral: (
    50: #cccccc,
    100: #b8b8b8,
    200: #a3a3a3,
    300: #8f8f8f,
    400: #7a7a7a,
    500: #666666,
    600: #525252,
    700: #3d3d3d,
    800: #292929,
    900: #141414,
  ),
  primary: (
    50: #fde6e9,
    100: #f7b0ba,
    200: #f48a99,
    300: #ee546b,
    400: #eb334e,
    500: #e60022,
    600: #d1001f,
    700: #a30018,
    800: #7f0013,
    900: #61000e,
  ),
  secondary: (
    50: #f0f1f3,
    100: #cfd3d9,
    200: #b8bdc6,
    300: #989fad,
    400: #848d9d,
    500: #657084,
    600: #5c6678,
    700: #48505e,
    800: #383e49,
    900: #2a2f37,
  ),
  gray: (
    50: #f8f9fa,
    100: #f1f3f5,
    200: #e9ecef,
    300: #dee2e6,
    400: #ced4da,
    500: #adb5bd,
    600: #868e96,
    700: #495057,
    800: #343a40,
    900: #212529,
  ),
  dark: (
    50: #f5f5f5,
    100: #f0f0f0,
    200: #e7e7e7,
    300: #d7d7d7,
    400: #b7b7b7,
    500: #989898,
    600: #747474,
    700: #3d3d3d,
    800: #2e2e2e,
    900: #1e1e1e,
  ),
  red: (
    50: #fae6e6,
    100: #efb0b0,
    200: #e88a8a,
    300: #dd5454,
    400: #d63333,
    500: #cc0000,
    600: #ba0000,
    700: #910000,
    800: #700000,
    900: #560000,
  ),
  yellow: (
    50: #fef5e6,
    100: #fce1b0,
    200: #fad38a,
    300: #f8bf54,
    400: #f7b233,
    500: #f59f00,
    600: #df9100,
    700: #ae7100,
    800: #875700,
    900: #674300,
  ),
  orange: (
    50: #fff2e8,
    100: #fed7b6,
    200: #fec493,
    300: #fea962,
    400: #fd9843,
    500: #fd7e14,
    600: #e67312,
    700: #b4590e,
    800: #8b450b,
    900: #6a3508,
  ),
  green: (
    50: #e6f7ec,
    100: #b0e7c4,
    200: #8adca8,
    300: #54cc80,
    400: #33c267,
    500: #00b341,
    600: #00a33b,
    700: #007f2e,
    800: #006224,
    900: #004b1b,
  ),
  blue: (
    50: #e6f1fd,
    100: #b0d3f8,
    200: #8abdf4,
    300: #549ff0,
    400: #338ded,
    500: #0070e8,
    600: #0066d3,
    700: #0050a5,
    800: #003e80,
    900: #002f61,
  ),
  purple: (
    50: #f6e7fa,
    100: #e3b6ee,
    200: #d692e6,
    300: #c360db,
    400: #b741d4,
    500: #a512c9,
    600: #9610b7,
    700: #750d8f,
    800: #5b0a6f,
    900: #450854,
  ),
  pink: (
    50: #fdebf1,
    100: #f7c1d4,
    200: #f4a3bf,
    300: #ee79a2,
    400: #eb5f90,
    500: #e63774,
    600: #d1326a,
    700: #a32752,
    800: #7f1e40,
    900: #611731,
  ),
);

// SIZES
$closed-sidebar-width: 6rem;
$open-sidebar-width: 18rem;
$navbar-height: 4.5rem;
$navbar-mobile-height: calc(7.25rem + 2px);
$banner-height: 16rem;

$input-height: 3.25rem; // 52px
$input-height-md: 2.5rem; // 40px
$input-height-sm: 2rem; // 32px

// MAX WIDTH
$max-width-300: 300px;
$max-width-400: 400px;
$max-width-500: 500px;
$max-width-600: 600px;
$max-width-700: 700px;
$max-width-800: 800px;
$max-width-900: 900px;
$max-width-1000: 1000px;
$max-width-1100: 1100px;
$max-width-1200: 1200px;
$max-width-1400: 1400px;
$max-width-1440: 1440px;
$max-width-1600: 1600px;
$max-width-1920: 1920px;
$max-width-2520: 2520px;
$max-width-3840: 3840px;

// MEDIA QUERIES
$media-query-xsm: 375px;
$media-query-sm: 576px;
$media-query-md: 768px;
$media-query-lg: 1200px;
$media-query-xl: 1600px;
$media-query-2xl: 1920px;
$media-query-3xl: 2560px;

// OTHER
//$box-shadow: 0px 3px 10px rgba($color: #2A2F37, $alpha: 0.175);
$box-shadow: 0 1px 3px rgba(25, 25, 25, 0.1);
$box-shadow-medium: 0 1px 3px rgba(25, 25, 25, 0.2);

// BORDER RADIUS
$border-radius-0_25: 0.25rem;
$border-radius-0_5: 0.5rem;
$border-radius-0_75: 0.75rem;
$border-radius-1: 1rem;
$border-radius-1_5: 1.5rem;
$border-radius-2: 2rem;
$border-radius-50: 50%;

// FONTS
//$font-display: 'BiggerDisplay';
$font-display: "Bebas Neue";
$font-primary: "Nunito Sans", sans-serif;
$font-secondary: "Bebas Neue";

// FONT SIZES
$fs-8: 0.5rem;
$fs-9: 0.5625rem;
$fs-10: 0.625rem;
$fs-11: 0.6875rem;
$fs-12: 0.75rem;
$fs-13: 0.8125rem;
$fs-14: 0.875rem;
$fs-15: 0.9375rem;
$fs-16: 1rem;
$fs-17: 1.0625rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-26: 1.625rem;
$fs-28: 1.75rem;
$fs-30: 1.875rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-48: 3rem;

// FILTERS
$blur-0: blur(0rem);
$blur-0_5: blur(0.5rem);
$blur-1: blur(1rem);
$blur-1_5: blur(1.5rem);

$border-radii: (
  0: 0rem,
  0_25: 0.25rem,
  0_5: 0.5rem,
  0_75: 0.75rem,
  1: 1rem,
  2: 2rem,
  50: 50%,
);

// MARGINS
$margin-bottoms: (
  0: 0rem,
  0_5: 0.5rem,
  1: 1rem,
  1_5: 1.5rem,
  2: 2rem,
  2_5: 2.5rem,
  3: 3rem,
  3_5: 3.5rem,
  4: 4rem,
  4_5: 4.5rem,
  5: 5rem,
);

$margin-tops: (
  0: 0rem,
  0_125: 0.125rem,
  0_25: 0.25rem,
  0_5: 0.5rem,
  0_75: 0.75rem,
  1: 1rem,
  1_5: 1.5rem,
  2: 2rem,
  2_5: 2.5rem,
  3: 3rem,
  3_5: 3.5rem,
  4: 4rem,
  4_5: 4.5rem,
  5: 5rem,
);

$font-sizes: (
  12: 0.75rem,
  13: 0.8125rem,
  14: 0.875rem,
  15: 0.9375rem,
  16: 1rem,
  17: 1.0625rem,
  18: 1.125rem,
  20: 1.25rem,
  22: 1.375rem,
  24: 1.5rem,
  26: 1.625rem,
  28: 1.75rem,
  30: 1.875rem,
  32: 2rem,
  44: 2.75rem,
);

$svg-sizes: (
  12: 0.75rem,
  14: 0.875rem,
  15: 0.9375rem,
  16: 1rem,
  18: 1.125rem,
  20: 1.25rem,
  22: 1.375rem,
  24: 1.5rem,
  26: 1.625rem,
  28: 1.75rem,
  30: 1.875rem,
  32: 2rem,
  40: 2.5rem,
  48: 3rem,
  64: 4rem,
  96: 6rem,
  128: 8rem,
);

$font-weights: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
);

$paddings: (
  0: 0rem,
  0_5: 0.5rem,
  1: 1rem,
  1_5: 1.5rem,
  2: 2rem,
  2_5: 2.5rem,
  3: 3rem,
  3_5: 3.5rem,
  4: 4rem,
  4_5: 4.5rem,
  5: 5rem,
);

$gaps: (
  0: 0rem,
  0_5: 0.5rem,
  1: 1rem,
  1_5: 1.5rem,
  2: 2rem,
  2_5: 2.5rem,
  3: 3rem,
  3_5: 3.5rem,
  4: 4rem,
  4_5: 4.5rem,
  5: 5rem,
);

// FUNCTIONS
@function color($color, $tone) {
  @if map-has-key($palettes, $color) {
    $color: map-get($palettes, $color);

    @if map-has-key($color, $tone) {
      $tone: map-get($color, $tone);
      @return $tone;
    }

    @warn "unknown tone `#{$tone}` in color";
    @return null;
  }

  @warn "unknown color `#{$color}` in palette";
  @return null;
}

// ANIMATIONS
$animation-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94);

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes loading {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

@keyframes toast {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }

  10% {
    transform: translateY(-2.0999999999999996%);
    opacity: 1;
  }

  90% {
    transform: translateY(2.0999999999999996%);
    opacity: 1;
  }

  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}

@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }

  15% {
    transform: translateY(2.0999999999999996%);
    opacity: 1;
  }

  85% {
    transform: translateY(-2.0999999999999996%);
    opacity: 1;
  }

  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
