// SIZES
$closed-sidebar-width: 6rem;
$open-sidebar-width: 18rem;
$navbar-height: 4.5rem;
$navbar-mobile-height: calc(7.25rem + 2px);
$banner-height: 16rem;

$input-height: 3.25rem; // 52px
$input-height-md: 2.5rem; // 40px
$input-height-sm: 2rem; // 32px

// MAX WIDTH
$max-width-300: 300px;
$max-width-400: 400px;
$max-width-500: 500px;
$max-width-600: 600px;
$max-width-700: 700px;
$max-width-800: 800px;
$max-width-900: 900px;
$max-width-1000: 1000px;
$max-width-1100: 1100px;
$max-width-1200: 1200px;
$max-width-1400: 1400px;
$max-width-1440: 1440px;
$max-width-1600: 1600px;
$max-width-1920: 1920px;
$max-width-2520: 2520px;
$max-width-3840: 3840px;

// MEDIA QUERIES
$media-query-xsm: 375px;
$media-query-sm: 576px;
$media-query-md: 768px;
$media-query-lg: 1200px;
$media-query-xl: 1600px;
$media-query-2xl: 1920px;
$media-query-3xl: 2560px;

// OTHER
//$box-shadow: 0px 3px 10px rgba($color: #2A2F37, $alpha: 0.175);
$box-shadow: 0 1px 3px rgba(25, 25, 25, 0.1);
$box-shadow-medium: 0 1px 3px rgba(25, 25, 25, 0.2);

// BORDER RADIUS
$border-radius-0_25: 0.25rem;
$border-radius-0_5: 0.5rem;
$border-radius-0_75: 0.75rem;
$border-radius-1: 1rem;
$border-radius-1_5: 1.5rem;
$border-radius-2: 2rem;
$border-radius-50: 50%;

// FONTS
//$font-display: 'BiggerDisplay';
$font-display: "Bebas Neue";
$font-primary: "Nunito Sans", sans-serif;
$font-secondary: "Bebas Neue";

// FONT SIZES
$fs-8: 0.5rem;
$fs-9: 0.5625rem;
$fs-10: 0.625rem;
$fs-11: 0.6875rem;
$fs-12: 0.75rem;
$fs-13: 0.8125rem;
$fs-14: 0.875rem;
$fs-15: 0.9375rem;
$fs-16: 1rem;
$fs-17: 1.0625rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-23: 1.4375rem;
$fs-24: 1.5rem;
$fs-26: 1.625rem;
$fs-28: 1.75rem;
$fs-30: 1.875rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-48: 3rem;
$fs-64: 4rem;

// FILTERS
$blur-0: blur(0rem);
$blur-0_5: blur(0.5rem);
$blur-1: blur(1rem);
$blur-1_5: blur(1.5rem);

$border-radii: (
  0: 0rem,
  0_25: 0.25rem,
  0_5: 0.5rem,
  0_75: 0.75rem,
  1: 1rem,
  2: 2rem,
  50: 50%,
);

// MARGINS
$margin-bottoms: (
  0: 0rem,
  0_5: 0.5rem,
  1: 1rem,
  1_5: 1.5rem,
  2: 2rem,
  2_5: 2.5rem,
  3: 3rem,
  3_5: 3.5rem,
  4: 4rem,
  4_5: 4.5rem,
  5: 5rem,
);

$margin-tops: (
  0: 0rem,
  0_125: 0.125rem,
  0_25: 0.25rem,
  0_5: 0.5rem,
  0_75: 0.75rem,
  1: 1rem,
  1_5: 1.5rem,
  2: 2rem,
  2_5: 2.5rem,
  3: 3rem,
  3_5: 3.5rem,
  4: 4rem,
  4_5: 4.5rem,
  5: 5rem,
);

$font-sizes: (
  12: 0.75rem,
  13: 0.8125rem,
  14: 0.875rem,
  15: 0.9375rem,
  16: 1rem,
  17: 1.0625rem,
  18: 1.125rem,
  20: 1.25rem,
  22: 1.375rem,
  24: 1.5rem,
  26: 1.625rem,
  28: 1.75rem,
  30: 1.875rem,
  32: 2rem,
  44: 2.75rem,
);

$svg-sizes: (
  12: 0.75rem,
  14: 0.875rem,
  15: 0.9375rem,
  16: 1rem,
  18: 1.125rem,
  20: 1.25rem,
  22: 1.375rem,
  24: 1.5rem,
  26: 1.625rem,
  28: 1.75rem,
  30: 1.875rem,
  32: 2rem,
  40: 2.5rem,
  48: 3rem,
  64: 4rem,
  96: 6rem,
  128: 8rem,
);

$font-weights: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
);

$paddings: (
  0: 0rem,
  0_5: 0.5rem,
  1: 1rem,
  1_5: 1.5rem,
  2: 2rem,
  2_5: 2.5rem,
  3: 3rem,
  3_5: 3.5rem,
  4: 4rem,
  4_5: 4.5rem,
  5: 5rem,
);

$gaps: (
  0: 0rem,
  0_5: 0.5rem,
  1: 1rem,
  1_5: 1.5rem,
  2: 2rem,
  2_5: 2.5rem,
  3: 3rem,
  3_5: 3.5rem,
  4: 4rem,
  4_5: 4.5rem,
  5: 5rem,
);

// FUNCTIONS

// ANIMATIONS
$animation-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94);
