@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.authentication {
  position: relative;
  height: 100svh;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .hero {
    position: relative;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2rem;
    bottom: 0;
    left: 0;
    transform: scale(1.175);
    isolation: isolate;
    overflow: hidden;
    background-color: $clr-black;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 0;
    }

    .hero__wrapper {
      position: absolute;
      inset: 0;
      transform: scale(0.8525);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      z-index: 100;
      color: $clr-font-light;

      .hero__title {
        font-size: clamp(8rem, 8vw, 10rem);
        font-family: $font-display;
        font-style: italic;
        line-height: normal;
        letter-spacing: -0.024em;
        text-align: center;
        text-transform: uppercase;
        color: $clr-font-light;
        margin: 1rem 0 0 0;
      }

      .hero__subtitle {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        margin: 0;
        padding: 0 1.5rem;
        max-width: $max-width-700;
      }

      .hero__footer {
        @include flex(row, space-between, center);
        @include backdrop-filter(blur(10px));
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 1rem 1.5rem;
        z-index: 100;
        font-size: $fs-15;
        // background-color: rgba(255, 255, 255, 0.2);

        h4 {
          font-weight: 500;
          color: $clr-font-light;
          // text-transform: uppercase;
        }

        .hero__links {
          @include flex(row, center, center);
          column-gap: 1rem;

          a {
            font-weight: 500;
            color: $clr-font-light;
            opacity: 1;
            // text-transform: uppercase;
            transition: color 0.2s $animation-cubic;

            &:hover {
              color: color(gray, 400);
            }
          }
        }
      }
    }

    .image-column {
      position: relative;
      @include flex(column, flex-start, center);
      row-gap: 2rem;
      z-index: -1;

      &.sliding-down {
        animation: sliding-down 20s linear infinite;
      }

      &.sliding-up {
        animation: sliding-up 20s linear infinite;
      }

      @for $i from 0 to 10 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.15s;
        }
      }

      .image {
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 1 !important;
        }
      }
    }
  }

  .authentication__wrapper {
    position: relative;
    flex: 1;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $clr-white;
    padding: 3rem;

    .title--brand {
      display: none;
      position: relative;
      font-family: $font-display;
      font-size: clamp(5rem, 5vw, 7rem);
      font-style: italic;
      color: $clr-font-light;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: -0.024em;
      line-height: 1;
      margin-bottom: 1rem;
    }

    .login,
    .signup {
      position: relative;
      display: inline-block;
      margin: auto;
      width: 100%;
      max-width: $max-width-700;
      box-sizing: content-box;

      h1 {
        font-size: 2.75rem;
        color: $clr-font-headline;
        font-weight: 700;
      }

      .social-signup {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        h3 {
          font-size: $fs-16;
          color: color(gray, 700);
        }
      }

      .bg-line {
        position: relative;
        @include flex(row, center, center);
        width: 100%;
        margin: 1.5rem 0 1.5rem 0;

        h4 {
          color: $clr-font;
          text-align: center;
          background-color: $clr-white;
          padding: 0 1rem;
          z-index: 100;
          font-weight: 400;
        }

        &::after {
          content: "";
          width: 100%;
          position: absolute;
          height: 1px;
          background-color: color(gray, 400);
        }
      }
    }

    .login {
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .link {
          margin: 1rem 0;
          margin-left: auto;
        }
      }
    }
  }

  .forgot-password {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: $max-width-700;

    .forgot-password__wrapper {
      position: relative;

      h1 {
        margin: 2rem 0 1rem 0;
        font-size: 2rem;
        color: $clr-font-headline;
      }

      p:not(.error-msg) {
        color: color(gray, 700);
        margin-bottom: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: $media-query-3xl) {
  .authentication {
    .hero {
      gap: 2rem;
      grid-template-columns: repeat(7, 1fr);

      .image-column {
        row-gap: 2rem;
      }
    }
  }
}

@media only screen and (max-width: $media-query-2xl) {
  .authentication {
    .hero {
      gap: 1.5rem;
      grid-template-columns: repeat(5, 1fr);

      .image-column {
        row-gap: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: $media-query-xl) {
  .authentication {
    .hero {
      gap: 1.5rem;
      grid-template-columns: repeat(4, 1fr);

      .image-column {
        row-gap: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: $media-query-lg) {
  .authentication {
    min-height: 100svh;
    height: auto;
    @include flex(column-reverse, space-between, center);
    overflow: auto;
    padding: 0 2rem;

    .hero {
      border-radius: $border-radius-0_5;
      max-width: $max-width-700;
      margin: 2rem auto;
      transform: scale(1);
      gap: 0.5rem;
      max-height: 40svh;
      grid-template-columns: repeat(5, 1fr);

      .hero__wrapper {
        transform: scale(1);
        padding: 0;

        .hero__title {
          visibility: hidden;
          font-size: 0rem;
          margin: 0;
        }

        .hero__subtitle {
          font-size: $fs-16;
          margin: 0;
          padding: 0 5rem;
        }

        .hero__footer {
          padding: 1rem;

          h4,
          a {
            font-size: 0.875rem;
          }

          .hero__links {
            gap: 1rem;

            a {
              opacity: 1;
            }
          }
        }
      }

      .image-column {
        row-gap: 0.5rem;
      }
    }

    .authentication__wrapper {
      flex-direction: column;
      width: 100%;
      border: none;
      box-shadow: none;
      padding: 0rem;

      .title--brand {
        display: block;
        margin: 2rem 0;
        line-height: normal;
        color: color(primary, 500);
      }

      .login,
      .signup {
        h1,
        h3 {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: $media-query-sm) {
  .authentication {
    padding: 0;

    .hero {
      margin: 1rem !important;
      grid-template-columns: repeat(3, 1fr);

      .hero__wrapper {
        .hero__footer {
          h4 {
            span {
              display: none;
            }
          }
        }
      }
    }

    .authentication__wrapper {
      padding: 0rem 1rem;
    }
  }
}

@media only screen and (max-width: $media-query-xsm) {
  .authentication {
    .hero {
      margin: 1rem;
      grid-template-columns: repeat(3, 1fr);

      .hero__wrapper {
        .hero__footer {
          a,
          h4 {
            font-size: $fs-13;
          }
        }
      }
    }

    .authentication__wrapper {
      .tabs__wrapper {
        .tabs__header {
          .tabs__header__item {
            min-width: 10rem;

            h3 {
              font-size: $fs-15;
            }
          }
        }
      }
    }
  }
}
