@import "variables";
@import "mixins";

.button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  @include flex();
  @include border-radius($border-radius-2);
  @include user-select(none);
  @include truncate;
  gap: 0.5rem;
  font-size: $fs-16;
  padding: 0 1.5rem;
  margin: 0.5rem 0;
  height: $input-height;
  cursor: pointer;
  transition: background-color 0.2s $animation-cubic,
    border 0.2s $animation-cubic;

  svg {
    height: $fs-18;
    width: $fs-18;
    flex-shrink: 0;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .spinner {
    position: relative;
    top: 0;
    left: 0;
    height: 1.6rem;
    font-size: 1.25rem !important;
    color: color(gray, 400);
    transform: none;
  }

  .icon-overlay {
    position: absolute;
    @include cover;
    display: grid;
    place-content: center;

    .icon {
      height: $fs-18;
      width: $fs-18;
    }

    .spin {
      animation: spin 0.75s linear infinite !important;
    }
  }

  &.sm {
    height: $input-height-sm;
    font-size: $fs-12;
    gap: 0.25rem;
    padding: 0 1rem;

    svg {
      height: $fs-14;
      width: $fs-14;
    }

    .spinner {
      height: 1rem;
      font-size: 0.875rem !important;
    }

    .icon-overlay {
      .icon {
        height: $fs-14;
        width: $fs-14;
      }
    }
  }

  &.md {
    height: $input-height-md;
    font-size: $fs-14;
    padding: 0 1rem;

    svg {
      height: $fs-16;
      width: $fs-16;
    }

    .spinner {
      height: 1.25rem;
      font-size: 1rem !important;
    }

    .icon-overlay {
      .icon {
        height: $fs-16;
        width: $fs-16;
      }
    }
  }

  &.primary {
    @include cbb($clr-font-light, color(gray, 900), 1px solid color(gray, 900));

    .spinner {
      color: $clr-font-light;
    }

    &:hover {
      @include cbb(null, color(gray, 800), 1px solid color(gray, 800));
    }

    &:disabled {
      @include cbb(null, color(gray, 500), 1px solid color(gray, 900));
      pointer-events: none;

      .spinner {
        color: color(gray, 700);
      }
    }

    &.loading {
      @include cbb(null, color(gray, 700), 1px solid color(gray, 700));
    }

    &.error {
      @include cbb($clr-font-light, color(red, 500), 1px solid color(red, 600));
      pointer-events: none;
    }

    &.success {
      @include cbb(
        $clr-font-light,
        color(green, 500),
        1px solid color(green, 600)
      );
      pointer-events: none;
    }
  }

  &.secondary {
    @include cbb($clr-font, transparent, 1px solid color(gray, 400));

    &:hover {
      border-color: color(gray, 600);
    }

    &:active {
      background-color: color(gray, 50);
    }

    &:disabled {
      @include cbb(null, color(gray, 200), 1px solid color(gray, 400));
      pointer-events: none;

      .spinner {
        color: color(gray, 700);
      }
    }

    &.fill {
      @include cbb($clr-font, $clr-white, 1px solid color(gray, 400));

      &:hover {
        border-color: color(gray, 600);
      }

      &:active {
        background-color: color(gray, 50);
      }
    }

    &.light {
      color: $clr-font-light;
      border: 1px solid color(gray, 400);

      &:hover {
        border-color: color(gray, 200);
      }
    }

    &.blue {
      @include cbb(
        color(blue, 500),
        color(blue, 50),
        1px solid color(blue, 100)
      );

      &:hover {
        @include cbb(
          color(blue, 600),
          darken($color: color(blue, 50), $amount: 5),
          1px solid color(blue, 200)
        );
      }
    }

    &.red {
      @include cbb(color(red, 500), color(red, 50), 1px solid color(red, 100));

      &:hover {
        @include cbb(
          color(red, 600),
          darken($color: color(red, 50), $amount: 5),
          1px solid color(red, 200)
        );
      }
    }

    &.error {
      @include cbb($clr-font-light, color(red, 500), 1px solid color(red, 600));
      pointer-events: none;
    }

    &.success {
      @include cbb(
        $clr-font-light,
        color(green, 500),
        1px solid color(green, 600)
      );
      pointer-events: none;
    }

    &.loading {
      @include cbb(
        color(secondary, 500),
        color(secondary, 50),
        1px solid color(secondary, 200)
      );
      pointer-events: none;
    }

    &.icon--reverse {
      flex-direction: row-reverse;
    }
  }

  &.tertiary {
    position: relative;
    text-transform: capitalize;
    padding: 0 !important;
    margin: 0.5rem 0;
    gap: 0.5rem;
    font-size: $fs-18;
    color: color(gray, 900);
    transition: color 0.2s $animation-cubic;

    &.icon--reverse {
      flex-direction: row-reverse;

      svg {
        transform: translateX(-0.125rem) !important;
        transition: transform 0.2s $animation-cubic;

        &.rot-180 {
          transform: translateX(0) rotate(180deg) !important;
        }
      }
    }

    &.fill {
      svg {
        fill: currentColor;
      }
    }

    svg {
      transform: translateX(0.125rem) !important;
      transition: transform 0.2s $animation-cubic;

      &.rot-180 {
        transform: translateX(0) rotate(180deg) !important;
      }
    }

    &.no-anim {
      svg {
        transform: translateX(0) !important;
      }
    }

    &:hover {
      color: color(gray, 600);

      svg {
        transform: translateX(0) !important;

        &.rot-180 {
          transform: translateX(0.125rem) rotate(180deg) !important;
        }
      }

      &.icon--reverse {
        svg {
          transform: translateX(0) !important;

          &.rot-180 {
            transform: translateX(0.125rem) rotate(180deg) !important;
          }
        }
      }
    }

    &:active {
      color: color(gray, 900);
    }

    &:disabled {
      pointer-events: none;
    }
  }
}
