@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.cart {
  position: relative;
  padding: 2rem var(--container-x-padding);
  width: 100%;
  max-width: $max-width-1300;
  margin: 0 auto;

  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(300px, 35%);
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "back back"
    "header summary"
    "content summary";
  column-gap: 2rem;
  align-items: start;

  &.empty {
    max-width: $max-width-800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p.link {
      align-self: flex-start;
    }

    .cart__header {
      width: 100%;
      margin-bottom: 0;
    }
  }

  a.link {
    grid-area: back;
  }

  .cart__header {
    position: relative;
    align-self: start;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid color(gray, 300);

    > div:not([class]) {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;

      h1 {
        font-size: $fs-32;
        white-space: nowrap;
      }

      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        min-width: 1.5rem;
        background-color: color(purple, 500);
        color: $clr-white;
        user-select: none;
        border-radius: $border-radius-2;
        padding: 0 0.625rem;
        white-space: nowrap;
      }
    }

    .search-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      max-width: 10rem;
      border-radius: $border-radius-2;
      border: 1px solid color(gray, 200);
      background-color: color(gray, 200);
      padding: 0.375rem 1rem;
      cursor: text;
      transition: border 0.2s $animation-cubic;

      svg {
        height: $fs-20;
        width: $fs-20;
        color: color(gray, 900);
        flex-shrink: 0;
      }

      input {
        all: unset;
        position: relative;
        width: 100%;
        font-size: $fs-16;
      }

      &:focus-within {
        border: 1px solid color(gray, 600);

        input {
          border: none !important;
        }
      }
    }

    .cart-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.25rem;
      width: 2.25rem;
      padding: 0.5rem;
      border-radius: $border-radius-2;
      background-color: color(gray, 200);
      cursor: pointer;
      transition: background-color 0.2s $animation-cubic;

      svg {
        height: $fs-16;
        width: $fs-16;
        color: color(gray, 900);
        flex-shrink: 0;
      }

      &:hover {
        background-color: color(gray, 300);
      }
    }

    .cart__menu-actions {
      position: absolute;
      top: 3.5rem;
      right: 0;
      width: 10rem;
      max-height: 25vh;
      overflow-y: auto;
      background-color: $clr-white;
      border-radius: $border-radius-1;
      box-shadow: $box-shadow;
      z-index: 110;
      pointer-events: all !important;

      .action-list {
        padding: 0.5rem;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        border-bottom: 1px solid color(gray, 300);

        .action-list-item {
          padding: 0.5rem 0.5rem;
          font-size: $fs-14;
          color: color(gray, 900);
          cursor: pointer;
          height: 2rem;
          border-radius: 12px;
          transition: background-color 0.2s $animation-cubic,
            color 0.2s $animation-cubic;
          display: flex;
          align-items: center;
          user-select: none;

          &.show-sm-only {
            display: none;
          }

          a,
          div {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            svg {
              height: $fs-16;
              width: $fs-16;
            }
          }

          &:hover {
            background-color: color(gray, 100);
          }

          &.red {
            &:hover {
              a,
              div {
                color: color(red, 500);
              }

              background-color: color(red, 50);
            }
          }

          &.blue {
            &:hover {
              a,
              div {
                color: color(blue, 500);
              }

              background-color: color(blue, 50);
            }
          }

          &.icon-end {
            a,
            div {
              flex-direction: row-reverse;
              justify-content: space-between;
            }
          }

          &.btn {
            background-color: color(gray, 900);

            a {
              color: color(gray, 100);
              font-size: $fs-15;
              justify-content: center;

              svg {
                height: $fs-16;
                width: $fs-16;
              }
            }

            &:hover {
              background-color: color(gray, 800);
            }
          }
        }
      }
    }
  }
}

.cart__content {
  grid-area: content;
  display: flex;
  flex-direction: column;

  .pkg__bulk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    // border-bottom: 1px solid color(gray, 300);

    button.tertiary {
      font-size: $fs-14;
      text-transform: none;
    }
  }

  .package__list {
    display: flex;
    flex-direction: column;

    .pkg {
      position: relative;
      margin-bottom: 1rem;
      border-bottom: 1px solid color(gray, 300);

      &:not(:last-child) {
        border-bottom: 1px solid color(gray, 300);
      }

      .pkg__header {
        button {
          all: unset;
          box-sizing: border-box;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          padding: 1rem 0;
          padding-right: 1rem;

          cursor: pointer;
          user-select: none;

          .pkg__seller__meta {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;

            .image {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            div {
              .link {
                display: block;
                font-size: $fs-16;
                font-weight: 600;
                line-height: 1.2;
              }

              span {
                display: block;
                font-size: $fs-14;
                color: color(gray, 600);
              }
            }
          }
        }
      }

      .pkg__panel {
        &[hidden] {
          display: none;
        }

        .pkg__product {
          display: flex;
          margin: 1rem 0;

          .image {
            width: 10rem;
            aspect-ratio: 3 / 4;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .pkg__actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
          padding: 1rem 0;

          div {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            span.discount {
              color: color(red, 500);
              font-weight: 700;
              font-size: $fs-16;
            }

            span.price__original {
              color: color(gray, 600);
              text-decoration: line-through;
              font-weight: 700;
              font-size: $fs-16;
            }
          }
        }
      }
    }
  }
}

.cart__summary {
  grid-area: summary;
  position: sticky;
  top: calc($navbar-height + 2rem);
  align-self: flex-start;
  padding: 1rem;
  background-color: color(gray, 100);
  border-radius: $border-radius-1;

  h1 {
    font-size: $fs-23; // calulated so the border bottoms line up
    border-bottom: 1px solid color(gray, 600);
    margin-bottom: 1rem;
  }

  .note {
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-left: 4px solid transparent;

    &.info {
      border-color: color(blue, 500);
    }

    &.success {
      border-color: color(green, 500);
    }

    strong {
      display: block;
      font-size: $fs-13;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: $fs-12;
      color: color(gray, 700);
    }
  }

  .divider {
    border: none;
    height: 1px;
    background-color: color(gray, 600);
    margin: 0.5rem 0 1rem;

    &.soft {
      background-color: color(gray, 400);
    }
  }

  .rows {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      span {
        font-size: $fs-14;
        color: color(gray, 900);

        &:last-child {
          font-weight: 600;
        }
      }

      &.discount {
        span {
          color: color(red, 500);
        }
      }

      &.total {
        margin-bottom: 0;

        span {
          font-size: $fs-16;
          font-weight: 700;
        }
      }

      &.small {
        margin-bottom: 0;

        span {
          font-size: $fs-12;
          color: color(gray, 600);
        }
      }
    }
  }

  .link {
    display: block;
  }
}
