@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.cart {
  position: relative;
  padding: 2rem var(--container-x-padding);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-width-700;
  margin: 0 auto;

  &.empty {
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      margin-top: 4rem;
    }
  }
}
