@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.cart {
  position: relative;
  padding: 2rem var(--container-x-padding);
  width: 100%;
  max-width: $max-width-1200;
  margin: 0 auto;

  display: grid;
  grid-template-columns: minmax(0, 65%) minmax(280px, 35%);
  grid-template-areas:
    "back back"
    "header summary"
    "content summary";
  column-gap: 2rem;

  &.empty {
    max-width: $max-width-800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p.link {
      align-self: flex-start;
    }

    .cart__header {
      width: 100%;
    }

    h4 {
      text-align: center;
      color: color(gray, 900);
    }
  }

  a.link {
    grid-area: back;
  }

  .cart__header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border-bottom: 1px solid color(gray, 300);
    margin-bottom: 2rem;

    div:not(.search-box) {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;

      h1 {
        font-size: $fs-32;
        white-space: nowrap;
      }

      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        min-width: 1.5rem;
        background-color: color(purple, 500);
        color: $clr-white;
        user-select: none;
        border-radius: $border-radius-2;
        padding: 0 0.625rem;
        white-space: nowrap;
      }
    }

    .search-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.75rem;
      max-width: 10rem;
      border-radius: $border-radius-2;
      border: 1px solid color(gray, 200);
      background-color: color(gray, 200);
      padding: 0.375rem 1rem;
      cursor: text;
      transition: border 0.2s $animation-cubic;

      svg {
        height: $fs-20;
        width: $fs-20;
        color: color(gray, 900);
        flex-shrink: 0;
      }

      input {
        all: unset;
        position: relative;
        width: 100%;
        font-size: $fs-16;
      }

      &:focus-within {
        border: 1px solid color(gray, 600);

        input {
          border: none !important;
        }
      }
    }
  }
}

.cart__content {
  grid-area: content;
  padding: 5rem;
}

.cart__summary {
  grid-area: summary;
  position: sticky;
  top: calc($navbar-height + 2rem);
  align-self: flex-start;
  padding: 1rem;
  background-color: color(gray, 100);
  border-radius: $border-radius-1;

  h1 {
    font-size: $fs-23; // calulated so the border bottoms line up
    border-bottom: 1px solid color(gray, 600);
    margin-bottom: 1rem;
  }

  .note {
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-left: 4px solid transparent;

    &.info {
      border-color: color(blue, 500);
    }

    &.success {
      border-color: color(green, 500);
    }

    strong {
      display: block;
      font-size: $fs-13;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: $fs-12;
      color: color(gray, 700);
    }
  }
}
