@import "variables";
@import "mixins";

.dtable__wrapper {
  position: relative;
  width: 100%;

  .dtable__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;

    input {
      all: unset;
      box-sizing: border-box;
      font-size: $fs-14;
      padding: 0.25rem 1rem;
      border-radius: $border-radius-0_5;
      outline: none;
      background-color: color(gray, 50);
      border: 1px solid color(gray, 400);
      width: 100%;
      min-width: 0;
      max-width: 24rem;
      height: 2.25rem;

      &::placeholder {
        color: color(gray, 700);
      }

      &:focus {
        border: 2px solid color(blue, 500);
        background-color: $clr-white;
      }

      &:not(:placeholder-shown) {
        border: 1px solid color(gray, 900);
        background-color: $clr-white;

        &:focus {
          border: 2px solid color(blue, 500);
          outline: 2px solid color(blue, 50);
        }
      }
    }

    .dtable__dropdown {
      position: relative;
      margin-left: auto;

      button {
        all: unset;
        box-sizing: border-box;
        user-select: none;
        appearance: button;
        display: inline-flex;

        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        gap: 0.5rem;
        border-radius: $border-radius-0_5;
        border: 1px solid color(gray, 400);
        // background-color: color(gray, 50);
        cursor: pointer;
        height: 2.25rem !important;
        padding: 0.5rem 0.75rem;
        font-size: $fs-14;
        white-space: nowrap;
        transition: background-color 0.2s $animation-cubic;

        &:hover {
          background-color: color(gray, 300);
        }
      }

      .dtable__dropdown-menu {
        position: absolute;
        top: calc(100% + 0.25rem);
        right: 0;
        z-index: 50;
        background-color: color(gray, 50);
        min-width: 8rem;
        padding: 0.25rem;
        border-radius: $border-radius-0_5;
        border: 1px solid color(gray, 400);
        overflow-x: hidden;

        li {
          position: relative;
          user-select: none;
          text-transform: capitalize;
          font-size: $fs-14;
          padding: 0.375rem 0.5rem 0.375rem 2rem;
          border-radius: 0.25rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;

          &:hover {
            background-color: color(gray, 300);
          }

          svg {
            position: absolute;
            width: $fs-14;
            height: $fs-14;
            left: 0.5625rem;
          }
        }
      }
    }
  }

  .dtable {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: $border-radius-0_5;
    box-shadow: 0 0 0 1px color(gray, 400);
    overflow: hidden;

    thead,
    tfoot {
      tr {
        border-bottom: 1px solid color(gray, 400);
        transition: background-color 0.2s $animation-cubic;

        &:hover {
          background-color: color(gray, 50);
        }

        th {
          padding: 0 0.5rem;
          white-space: nowrap;
          text-align: left;
          height: 2.5rem;
          font-size: $fs-14;
          cursor: text;

          &:first-child {
            padding-right: 0;
          }

          &:last-child {
            text-align: center;
          }

          button {
            all: unset;
            user-select: none;
            box-sizing: border-box;
            appearance: button;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            height: 2.25rem !important;
            border-radius: $border-radius-0_5;
            padding: 0.5rem 0.75rem;
            cursor: pointer;
            transition: background-color 0.2s $animation-cubic;
            font-size: $fs-14;

            &:hover {
              background-color: color(gray, 300);
            }
          }
        }
      }
    }

    tbody {
      tr {
        transition: background-color 0.2s $animation-cubic;

        &:hover {
          background-color: color(gray, 50);
        }

        td {
          padding: 0.5rem;
          white-space: nowrap;
          vertical-align: middle;
          font-size: $fs-14;
          color: color(gray, 800);
          height: 3rem;

          &:first-child {
            padding-right: 0;
          }

          &:last-child {
            text-align: center;
          }

          &.empty {
            padding: 2rem 1rem;
            text-align: center;
            font-style: italic;
            font-size: $fs-14;
          }

          .dtable__expander {
            all: unset;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            vertical-align: middle;
            cursor: pointer;
            padding: 0 0.5rem;
            height: 100%;
            width: 100%;
            border-radius: $border-radius-0_5;
            transition: background-color 0.2s $animation-cubic;
          }
        }

        &.dtable__row-expanded {
          td {
            padding: 0.5rem 1rem;
            background-color: color(gray, 50);
            font-size: $fs-14;
            color: color(gray, 800);
            border-top: 1px solid color(gray, 400);
            border-bottom: 1px solid color(gray, 400);
            min-height: 3rem;
            height: auto;
          }
        }
      }
    }

    tfoot {
      border-top: 1px solid color(gray, 400);
    }

    thead,
    tbody,
    tfoot {
      tr {
        th,
        td {
          &:first-child {
            text-align: center;

            input[type="checkbox"] {
              margin: 0;
              width: 1rem;
              height: 1rem;
              vertical-align: middle;
              cursor: pointer;
              accent-color: color(blue, 500);
              color: red;

              &:active,
              &:hover {
                accent-color: color(blue, 300);
              }
            }
          }
        }
      }
    }
  }
}
