@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.error__wrapper {
  position: relative;
  background-color: color(gray, 50);
  height: 100svh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-inline: var(--container-x-padding);
  // background-image: url('../images/background/error/21577d51fe7e37bcceac2b72029ff256.jpg');
  // background-position: bottom;
  // background-size: cover;
  // background-repeat: no-repeat;

  &::after {
    content: attr(data-error-code);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex(row, center, center);
    color: color(gray, 200);
    font-size: clamp(10rem, 60vw, 50rem);
    font-family: $font-secondary;
    line-height: 1;
  }

  a {
    position: absolute;
    top: 1.5rem;
    left: var(--container-x-padding);
    font-size: $fs-16;
    margin: 0;
    color: $clr-font-headline;
    z-index: 100;
  }

  article {
    @include flex(column, center, center);
    width: 100%;
    z-index: 99;

    h1 {
      color: color(gray, 900);
      font-size: clamp(4rem, 5vw, 5rem);
      margin: 0;
      line-height: 1;
      margin-bottom: 2rem;
      text-align: center;
    }

    p {
      color: $clr-font;
      text-align: center;
      font-size: clamp(1.25rem, 1vw, 1.5rem);
      max-width: $max-width-800;
    }

    button {
      margin-top: 4rem;
    }
  }
}
