@import "variables";
@import "mixins";

.image {
  position: relative;
  display: inline-block;
  overflow: hidden;

  .image__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    display: inline-block;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s $animation-cubic;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    &.loaded {
      opacity: 1;
    }
  }
}
