@import "variables";
@import "mixins";

@font-face {
  font-family: "BiggerDisplay";
  src: url("../fonts/BiggerDisplay.otf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebas-neue/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/nunito-sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf")
    format("truetype");
}

:root {
  --container-x-padding: 0.75rem; // 12px
  --breakpoint-grid_columns: 5;
  --chat-panel-width: 20rem; // 320px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: $font-primary;
  font-feature-settings: normal;
  font-variation-settings: normal;
  line-height: 1.5;
  font-size: $fs-16; // 16px
  letter-spacing: -0.008em;
  font-weight: 500;
  color: $clr-font;
  // scrollbar-gutter: stable;
}

#root {
  isolation: isolate;
  max-width: $max-width-3840;
  margin: 0 auto;
}

svg {
  height: $fs-16;
  width: $fs-16;
  aspect-ratio: 1 / 1;
}

a {
  text-decoration: none;
  color: $clr-font;
}

.fallback {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: $clr-white;
  z-index: 999;
}

.spinner {
  @include abs-center;
  @include flex;
  font-size: 2rem;
  color: color(gray, 600);

  svg {
    animation: spin 0.75s linear infinite;
  }
}

.abs-center {
  @include abs-center;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  width: fit-content;
  color: color(blue, 500);
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s $animation-cubic;

  svg {
    height: $fs-18;
    width: $fs-18;
    transform: translateX(0);
    transition: transform 0.2s $animation-cubic;
  }

  &.icon--reverse {
    flex-direction: row-reverse;
  }

  &:hover {
    color: color(blue, 300);

    svg {
      transform: translateX(-0.1875rem);
    }

    &.icon--reverse {
      svg {
        transform: translateX(0.1875rem);
      }
    }

    &.no-anim {
      svg {
        transform: translateX(0);
      }
    }
  }

  &.black {
    color: color(gray, 900);

    &:hover {
      color: color(gray, 600);
    }
  }

  &.red {
    color: color(red, 500);

    &:hover {
      color: color(red, 300);
    }
  }
}

img {
  @include user-select(none);
}

ul {
  list-style-type: none;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $clr-font-headline;
  font-weight: 500;

  svg {
    vertical-align: middle;
  }
}

h1 {
  font-weight: 700;
  letter-spacing: -0.008em;
  line-height: 1.8;
}

form {
  .field__wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;

    .input {
      flex: 1;
      min-width: 0 !important;
    }
  }
}

.relative {
  position: relative !important;
}

.truncate {
  @include truncate;
  max-width: 90%;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-none {
  flex: 0 1 auto !important;
}

.a-center {
  align-items: center !important;
}

.ta-right {
  text-align: right !important;
}

.ta-left {
  text-align: left !important;
}

.ta-center {
  text-align: center !important;
}

.ta-justify {
  text-align: justify !important;
}

.va-middle {
  vertical-align: middle !important;
}

.fc-light {
  color: color(gray, 600) !important;
}

.fc-medium {
  color: color(gray, 700) !important;
}

.fc-dark {
  color: color(gray, 900) !important;
}

.fc-dark-500 {
  color: color(dark, 500) !important;
}

.fc-red-200 {
  color: color(red, 200) !important;
}

.fc-red-300 {
  color: color(red, 300) !important;
}

.fc-red-500 {
  color: color(red, 500) !important;
}

.fc-blue-300 {
  color: color(blue, 300) !important;
}

.fc-blue-500 {
  color: color(blue, 500) !important;
}

.fc-yellow-500 {
  color: color(yellow, 500) !important;
}

.px-0_125 {
  padding-inline: 0.125rem !important;
}

.px-0_25 {
  padding-inline: 0.25rem !important;
}

.px-0_5 {
  padding-inline: 0.5rem !important;
}

.py-0_25 {
  padding-block: 0.25rem !important;
}

.py-0_5 {
  padding-block: 0.5rem !important;
}

.py-1 {
  padding-block: 1rem !important;
}

.py-1_5 {
  padding-block: 1.5rem !important;
}

.py-2 {
  padding-block: 2rem !important;
}

.py-3 {
  padding-block: 3rem !important;
}

.py-5 {
  padding-block: 5rem !important;
}

.pt-0_5 {
  padding-top: 0.5rem !important;
}

.pt-1_75 {
  padding-top: 1.75rem !important;
}

.pb-0_5 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pl-5 {
  padding-inline-start: 5rem !important;
}

.mx-auto {
  margin-inline: auto !important;
}

.mx-0 {
  margin-inline: 0 !important;
}

.mx-1 {
  margin-inline: 1rem !important;
}

.ml-0_25 {
  margin-left: 0.25rem !important;
}

.ml-0_5 {
  margin-left: 0.5rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-0_25 {
  margin-inline-end: 0.25rem !important;
}

.mr-0_5 {
  margin-inline-end: 0.5rem !important;
}

.my-0_5 {
  margin-block: 0.5rem !important;
}

.my-0_75 {
  margin-block: 0.75rem !important;
}

.my-1 {
  margin-block: 1rem !important;
}

.my-1_125 {
  margin-block: 1.5rem !important;
}

.my-1_25 {
  margin-block: 1.25rem !important;
}

.my-5 {
  margin-block: 5rem !important;
}

.rot-180 {
  transform: rotate(180deg) !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.no-border {
  border: none !important;
}

.bg-gray-100 {
  background-color: color(gray, 100) !important;
}

.h-full {
  height: 100% !important;
}

.w-full {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.w-fc {
  width: fit-content !important;
}

.mw-200 {
  max-width: 200px !important;
}

.mw-300 {
  max-width: 300px !important;
}

.mw-400 {
  max-width: 400px !important;
}

.transition-clr {
  transition: color 0.2s $animation-cubic !important;
}

@each $key, $value in $font-sizes {
  .fs-#{$key} {
    font-size: $value !important;
  }
}

@each $key, $value in $svg-sizes {
  .svg-#{$key} {
    height: $value !important;
    width: $value !important;
    aspect-ratio: 1 / 1 !important;
  }
}

@each $key, $value in $font-weights {
  .fw-#{$key} {
    font-weight: $value !important;
  }
}

@each $key, $value in $margin-bottoms {
  .mb-#{$key} {
    margin-bottom: $value !important;
  }
}

@each $key, $value in $margin-tops {
  .mt-#{$key} {
    margin-top: $value !important;
  }
}

@each $key, $value in $paddings {
  .p-#{$key} {
    padding: $value !important;
  }
}

@each $key, $value in $gaps {
  .gap-#{$key} {
    gap: $value !important;
  }
}

@each $key, $value in $border-radii {
  .br-#{$key} {
    border-radius: $value !important;
  }
}

// MEDIA QUERIES
@media only screen and (min-width: $media-query-2xl) {
  :root {
    --chat-panel-width: 30rem !important; // 480px
  }
}

@media only screen and (max-width: $media-query-2xl) {
  :root {
    --breakpoint-grid_columns: 4;
  }
}

@media only screen and (min-width: $media-query-xl) {
  :root {
    --container-x-padding: 5rem; // 80px
  }
}

@media only screen and (max-width: $media-query-xl) {
  :root {
    --container-x-padding: 2rem; // 32px
    --breakpoint-grid_columns: 3;
  }
}

@media only screen and (min-width: $max-width-1440) {
  :root {
    --chat-panel-width: 24rem; // 384px
  }
}

@media only screen and (max-width: $media-query-lg) {
  :root {
    --breakpoint-grid_columns: 2;
  }

  form {
    .field__wrapper {
      flex-direction: column !important;
      row-gap: 0.25rem;
    }
  }
}

@media only screen and (max-width: $max-width-900) {
  :root {
    --breakpoint-grid_columns: 3;
  }
}

@media only screen and (max-width: $media-query-md) {
  :root {
    --container-x-padding: 1.5rem; // 24px
    --breakpoint-grid_columns: 2;
  }

  html {
    font-size: $fs-15; // 15px
  }
}

@media only screen and (max-width: $media-query-sm) {
  :root {
    --breakpoint-grid_columns: 1;
  }

  html {
    font-size: $fs-14; // 14px
  }
}
