@import "variables";
@import "mixins";

.main {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  .main__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $clr-white;
  }
}
