@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.drawer__wrapper {
  position: fixed;
  inset: 0;
  z-index: 99999;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  backdrop-filter: blur(2px);

  .drawer {
    position: absolute;
    bottom: 0;
    max-height: 90vh;
    width: 100%;
    overflow: hidden;
    background-color: $clr-white;
    border-top-left-radius: $border-radius-1;
    border-top-right-radius: $border-radius-1;
    display: flex;
    flex-direction: column;

    .drawer__dragger {
      z-index: 10;
      display: flex;
      justify-content: center;
      padding: 1rem;

      button {
        all: unset;
        cursor: grab;
        height: 0.375rem;
        width: clamp(10rem, 50%, 15rem);
        background-color: color(gray, 300);
        border-radius: $border-radius-1;

        &:active {
          cursor: grabbing;
        }
      }
    }

    .drawer__content {
      flex: 1;
      padding: 1rem 0 2rem 0;

      .modal__title {
        box-sizing: content-box;
        margin: 0 auto;
        max-width: $media-query-sm;
        padding: 0 1.5rem;
        display: block;
        font-size: 1.375rem;
        color: $clr-font-headline;

        span {
          word-break: break-all;
        }

        svg {
          margin-right: 0.75rem;
          height: $fs-20;
          width: $fs-20;

          &.icon--primary {
            color: color(primary, 500);
          }

          &.icon--red {
            color: color(red, 500);
          }

          &.icon--green {
            color: color(green, 500);
          }

          &.icon--blue {
            color: color(blue, 500);
          }

          &.icon--yellow {
            color: color(yellow, 500);
          }
        }
      }

      .modal__content {
        max-height: 50vh;
        margin: 1rem 0;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-gutter: stable both-edges;

        p {
          box-sizing: border-box;
          color: color(gray, 700);
          max-width: $media-query-sm;
          margin: 0 auto;
          padding: 0 1.5rem;
        }

        form {
          box-sizing: content-box;
          display: flex;
          flex-direction: column;
          max-width: $media-query-sm;
          margin: 0 auto !important;
          padding: 0 1.5rem;
        }
      }

      .modal__actions {
        box-sizing: content-box;
        max-width: $media-query-sm;
        padding: 0 1.5rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}

.modal__wrapper {
  position: fixed;
  inset: 0;
  z-index: 99999;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  backdrop-filter: blur(2px);

  &.dark {
    background: transparent;
  }

  .modal {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $clr-white;
    border-radius: $border-radius-1_5;
    max-width: $media-query-sm;
    padding: 1.25rem 0;
    overflow: hidden;

    .close {
      position: fixed;
      top: 1rem;
      right: 1rem;
      border-radius: $border-radius-50;
      padding: 0.5rem;
      height: auto;
      border: none;
      background-color: color(gray, 200);
      margin: 0;

      svg {
        height: $fs-18;
        width: $fs-18;
      }

      &:hover {
        background-color: color(gray, 300);
      }
    }

    &.xsm {
      max-width: $media-query-xsm;
    }

    &.md {
      max-width: $media-query-md;
    }

    &.lg {
      max-width: $media-query-lg;
    }

    .modal__title {
      display: inline-block;
      font-size: 1.25rem;
      padding: 0 1.5rem;
      margin-right: 1.5rem;
      color: $clr-font-headline;

      span {
        word-break: break-all;
      }

      svg {
        margin-right: 0.5rem;
        height: $fs-20;
        width: $fs-20;

        &.icon--primary {
          color: color(primary, 500);
        }

        &.icon--red {
          color: color(red, 500);
        }

        &.icon--green {
          color: color(green, 500);
        }

        &.icon--blue {
          color: color(blue, 500);
        }

        &.icon--yellow {
          color: color(yellow, 500);
        }
      }
    }

    .modal__content {
      max-height: 50vh;
      margin: 1rem 0;
      padding: 0 1.5rem;
      overflow-x: hidden;
      overflow-y: auto;
      // scrollbar-width: thin;

      p {
        color: color(gray, 700);
      }

      form {
        display: flex;
        flex-direction: column;
      }
    }

    .modal__actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      padding: 0 1.5rem;
      padding-bottom: 0.25rem;

      .button {
        border-radius: $border-radius-1;
        margin-bottom: 0;
      }
    }
  }
}
