@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.orders {
  position: relative;
  padding: 2rem var(--container-x-padding);
  width: 100%;
  max-width: $max-width-1300;
  margin: 0 auto;

  .orders__header {
    position: relative;

    h1 {
      font-size: $fs-32;
      margin-bottom: 1rem;
      border-bottom: 1px solid color(gray, 300);
    }
  }

  .orders__list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  /* Custom DataTable styles */
  .dtable__wrapper.dt-orders {
    overflow-x: auto;
    scrollbar-width: thin;
  }

  .dtable__wrapper.dt-orders .dtable {
    box-shadow: none;

    thead tr th:first-child,
    tbody tr td:first-child {
      text-align: left;
    }

    thead {
      tr {
        th {
          &.th-createdAt,
          &.th-expiresAt,
          &.th-totalPrice,
          &.th-state {
            text-align: center;
          }

          &.th-action {
            text-align: right !important;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          display: table-cell;
          height: 5rem;

          .dt-party {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;

            .dt-party-inner {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              .image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                object-fit: cover;
                font-size: 1rem;

                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  object-fit: cover;
                }
              }

              .dt-party-info {
                display: flex;
                flex-direction: column;
                font-size: $fs-14;
                line-height: 1.3;

                span:first-child {
                  font-weight: 600;
                  max-width: 20ch;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                span:last-child {
                  font-size: $fs-12;
                  color: color(gray, 600);
                }
              }
            }

            &:hover {
              .dt-party-info span:first-child {
                text-decoration: underline;
              }
            }
          }

          // CreatedAt
          &.td-createdAt {
            text-align: center;

            div {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;

              time {
                font-weight: 600;
              }

              span {
                display: inline-flex;
                align-items: center;
                padding: 0.375rem 0.75rem;
                border-radius: $border-radius-pill;
                font-size: $fs-13;
                font-weight: 700;
                line-height: 1.3;
                background-color: color(green, 50);
                color: color(green, 600);

                svg {
                  width: $fs-14;
                  height: $fs-14;
                }
              }
            }
          }

          // ExpiresAt
          &.td-expiresAt {
            font-weight: 600;
            text-align: center;

            span {
              position: relative;
              display: inline-block;

              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: -0.5rem;
                width: 0.25rem;
                height: 0.25rem;
                background-color: color(pink, 500);
                transform: translateY(-50%);
                border-radius: 50%;
              }
            }
          }

          // Total Price
          &.td-totalPrice {
            font-weight: 700;
            text-align: center;
          }

          // Status
          &.td-state {
            text-align: center;

            .badge {
              display: inline-block;
              padding: 0.375rem 0.75rem;
              border-radius: $border-radius-pill;
              font-weight: 700;
              vertical-align: middle;
              font-size: $fs-13;
              line-height: 1.3;

              &.neutral {
                background-color: color(gray, 200);
                color: color(gray, 800);
              }

              &.success {
                background-color: color(green, 50);
                color: color(green, 600);
              }

              &.info {
                background-color: color(blue, 50);
                color: color(blue, 600);
              }

              &.warning {
                background-color: color(yellow, 50);
                color: color(yellow, 600);
              }

              &.critical {
                background-color: color(red, 50);
                color: color(red, 600);
              }
            }
          }

          &.td-action {
            text-align: right !important;

            a.button {
              display: inline-flex;
              background-color: $clr-white;
            }
          }
        }
      }
    }
  }
}

.order {
  position: relative;
  padding: 2rem var(--container-x-padding);
  width: 100%;
  max-width: $max-width-900;
  margin: 0 auto;
}
