@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.orders {
  position: relative;
  padding: 2rem var(--container-x-padding);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-width-900;
  margin: 0 auto;

  .orders__header {
    margin-bottom: 2rem;

    h1 {
      font-size: $fs-32;
    }

    p {
      color: color(gray, 700);
    }
  }
}
