@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.orders {
  position: relative;
  padding: 2rem var(--container-x-padding);
  width: 100%;
  max-width: $max-width-1100;
  margin: 0 auto;

  .orders__header {
    position: relative;

    h1 {
      font-size: $fs-32;
      margin-bottom: 1rem;
      border-bottom: 1px solid color(gray, 300);
    }
  }

  .orders__list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  /* Custom DataTable styles */
  .dtable__wrapper.dt-orders .dtable {
    box-shadow: none;
  }
}
