@import "variables";
@import "mixins";

.user-products__wrapper {
  .products__list {
    display: grid;
    grid-template-columns: repeat(
      var(--breakpoint-grid_columns),
      minmax(0, 1fr)
    );
    grid-template-rows: 1fr;
    grid-auto-flow: row dense;
    gap: 2rem;

    .product__item {
      position: relative;
      cursor: pointer;

      .product__menu-actions {
        position: absolute;
        top: 3rem;
        right: 0.5rem;
        width: 10rem;
        max-height: 50vh;
        overflow-y: auto;
        background-color: $clr-white;
        border-radius: $border-radius-1;
        box-shadow: $box-shadow;
        z-index: 110;
        pointer-events: all !important;

        .action-list {
          padding: 0.5rem;
          display: flex;
          align-items: stretch;
          flex-direction: column;
          border-bottom: 1px solid color(gray, 300);

          .action-list-item {
            padding: 0.5rem 0.5rem;
            font-size: $fs-14;
            color: color(gray, 900);
            cursor: pointer;
            height: 2rem;
            border-radius: 12px;
            transition: background-color 0.2s $animation-cubic,
              color 0.2s $animation-cubic;
            display: flex;
            align-items: center;
            user-select: none;

            &.show-sm-only {
              display: none;
            }

            a,
            div {
              flex: 1;
              display: flex;
              align-items: center;
              gap: 0.5rem;

              svg {
                height: $fs-16;
                width: $fs-16;
              }
            }

            &:hover {
              background-color: color(gray, 100);
            }

            &.red {
              &:hover {
                a,
                div {
                  color: color(red, 500);
                }

                background-color: color(red, 50);
              }
            }

            &.blue {
              &:hover {
                a,
                div {
                  color: color(blue, 500);
                }

                background-color: color(blue, 50);
              }
            }

            &.icon-end {
              a,
              div {
                flex-direction: row-reverse;
                justify-content: space-between;
              }
            }

            &.btn {
              background-color: color(gray, 900);

              a {
                color: color(gray, 100);
                font-size: $fs-15;
                justify-content: center;

                svg {
                  height: $fs-16;
                  width: $fs-16;
                }
              }

              &:hover {
                background-color: color(gray, 800);
              }
            }
          }
        }
      }

      .product__item-header {
        position: relative;
        background-color: color(gray, 200);
        width: 100%;
        border-radius: $border-radius-1;
        margin-bottom: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        aspect-ratio: 1/1;

        .product__item-actions {
          position: absolute;
          right: 0.5rem;
          display: flex;
          gap: 0.5rem;
          padding: 0.5rem;
          background-color: $clr-white;
          border-radius: $border-radius-50;
          z-index: 10;
          transition: background-color 0.2s $animation-cubic;

          &:not(.discount) {
            top: 0.5rem;
          }

          &:hover {
            background-color: color(gray, 200);
          }

          &.discount {
            right: 0.5rem;
            bottom: 0.5rem;

            &:hover {
              background-color: color(red, 50);

              svg {
                color: color(red, 500);
              }
            }
          }
        }

        .product__item-badges {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          display: flex;
          padding: 0.5rem;
          gap: 0.25rem;
          flex-wrap: wrap;
          max-width: 80%;

          .badge {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.25rem 0.5rem;
            border-radius: $border-radius-2;
            font-size: $fs-16;
            z-index: 10;
            font-weight: 700;
            text-transform: capitalize;
            background-color: $clr-white;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            color: $clr-font-headline;
            cursor: pointer;

            &.icon-only {
              aspect-ratio: 1/1;
              padding: 0.5rem;
            }

            &:last-child {
              transition: background-color 0.2s $animation-cubic;

              &:not(:only-child):hover {
                background-color: color(gray, 200);
              }
            }

            &.new {
              background-color: color(green, 100);
              color: color(green, 800);
            }

            &.discount {
              background-color: color(red, 100);
              color: color(red, 800);
            }

            &.recommended {
              background-color: color(blue, 100);
              color: color(blue, 800);
            }

            &.popular {
              background-color: color(purple, 100);
              color: color(purple, 800);
            }
          }
        }

        .product__item-carousel {
          position: relative;
          width: 100%;
          height: 100%;

          &::before {
            content: "";
            position: absolute;
            inset: 0;
            // background: rgba(0, 0, 0, 0.05);
            z-index: 1;
          }

          &:hover {
            .carousel__button {
              opacity: 1;
            }
          }

          .carousel__button {
            all: unset;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $border-radius-50;
            background-color: $clr-white;
            transition: background-color 0.2s $animation-cubic,
              opacity 0.2s $animation-cubic;
            opacity: 0;
            z-index: 10;

            &:hover {
              background-color: color(gray, 200);
            }

            &:active {
              background-color: color(gray, 300);
            }

            &.prev {
              left: 0.5rem;
            }

            &.next {
              right: 0.5rem;
            }
          }

          .carousel__dots {
            position: absolute;
            bottom: 0.5rem;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 0.25rem;
            z-index: 10;
            overflow: hidden;

            .dot {
              all: unset;
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 50%;
              background-color: color(gray, 400);
              cursor: pointer;
              transform: scale(0.8);
              transition: background-color 0.2s $animation-cubic,
                transfrom 0.2s $animation-cubic;

              &.active {
                background-color: $clr-white;
                transform: scale(1);
              }
            }
          }

          .carousel__images {
            height: 100%;
            display: flex;

            img {
              object-fit: cover;
              line-height: 3rem;
              text-align: center;
              z-index: 0;
              aspect-ratio: 1 / 1;
              border: none !important;
            }
          }
        }
      }

      .product__item-content {
        .item__title {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          h3 {
            flex: 1;
            font-size: $fs-16;
            font-weight: 600;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          span {
            display: flex;
            align-items: center;
            transition: color 0.2s $animation-cubic;

            &:hover {
              color: color(gray, 600);

              svg {
                color: color(gray, 600);
              }
            }

            svg {
              margin-right: 0.1825rem;
              transition: color 0.2s $animation-cubic,
                fill 0.2s $animation-cubic;
            }

            &.liked {
              svg {
                color: color(red, 500);
                fill: color(red, 500);
              }

              &:hover {
                svg {
                  color: color(red, 300);
                  fill: color(red, 300);
                }
              }
            }

            &.saved {
              svg {
                color: color(yellow, 500);
                fill: color(yellow, 500);
              }

              &:hover {
                svg {
                  color: color(yellow, 600);
                  fill: color(yellow, 600);
                }
              }
            }
          }
        }

        .item__desc {
          p {
            font-size: $fs-14;
            line-height: 1.3;
            color: color(gray, 600);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            white-space: normal;
          }
        }

        .item__size {
          span {
            margin-top: 0.25rem;
            display: inline-block;
            font-size: $fs-16;
          }
        }

        .item__price {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          span {
            font-size: $fs-16;
            font-weight: 700;

            &.discount {
              color: color(red, 500);

              & ~ .price__original {
                color: color(gray, 600);
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }
}

.product {
  position: relative;
  padding: 0 var(--container-x-padding);

  .product__wrapper {
    max-width: $max-width-1100;
    margin: 0 auto;

    .link {
      padding-top: 2rem;
    }

    .product__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;

      h1 {
        font-size: $fs-28;
        line-height: 1.3;
        flex: 1;
      }

      div {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .tertiary {
          margin-block: 0;
          gap: 0.5rem;
          font-size: $fs-16;
        }
      }
    }

    .product__images {
      position: relative;
      margin-top: 1.5rem;
      border-radius: $border-radius-1;
      overflow: hidden;
      // max-height: 60vh !important;

      .product__item-badges {
        position: absolute;
        top: 0;
        left: 0;
        width: clamp(10rem, 80%, 20rem);
        display: flex;
        padding: 1rem;
        gap: 0.5rem;
        flex-wrap: wrap;

        .badge {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.375rem 0.75rem;
          height: 2.5rem;
          border-radius: $border-radius-2;
          font-size: $fs-18;
          z-index: 10;
          font-weight: 700;
          text-transform: capitalize;
          background-color: $clr-white;
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          color: $clr-font-headline;
          cursor: pointer;

          &.icon-only {
            aspect-ratio: 1/1;
            padding: 0.5rem;

            svg {
              height: $fs-18;
              width: $fs-18;
            }
          }

          &:last-child {
            transition: background-color 0.2s $animation-cubic;

            &:not(:only-child):hover {
              background-color: color(gray, 200);
            }
          }

          &.new {
            background-color: color(green, 100);
            color: color(green, 800);
          }

          &.discount {
            background-color: color(red, 100);
            color: color(red, 800);
          }

          &.recommended {
            background-color: color(blue, 100);
            color: color(blue, 800);
          }

          &.popular {
            background-color: color(purple, 100);
            color: color(purple, 800);
          }
        }
      }

      .button.secondary {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 10;
        margin: 0;
        border-radius: $border-radius-1;
      }

      .image-grid {
        display: grid;
        gap: 0.5rem;

        &.grid-3 {
          aspect-ratio: 2 / 1;
          grid-template-areas:
            "left top   "
            "left bottom";
          grid-template-columns: 64% 36%;
          grid-template-rows: minmax(0, 550px) minmax(0, 550px);

          a {
            &:first-child {
              grid-area: left;
            }

            &:nth-child(2) {
              grid-area: top;
            }

            &:nth-child(3) {
              grid-area: bottom;
            }
          }
        }

        &.grid-5 {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);

          a {
            aspect-ratio: 1 / 1;

            &:first-child {
              grid-column: span 2 / span 2;
              grid-row: span 2 / span 2;
            }
          }
        }

        a {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: color(gray, 200);
          cursor: pointer;

          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.15);
            z-index: 1;
            opacity: 0;
            transition: opacity 0.2s $animation-cubic;
          }

          &:hover {
            &::before {
              opacity: 1;
            }
          }

          .image {
            width: 100%;
            height: 100%;
            z-index: 0;
            border: none !important;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .product__content {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      border-bottom: 1px solid color(gray, 300);
      padding-block: 2rem;

      .product__details {
        position: relative;
        width: 58.3333% !important;
      }

      .product__items-card {
        position: sticky;
        top: calc(2rem + $navbar-height);
        height: fit-content;
        width: 33.3333% !important;
        margin-left: 8.3333% !important;
      }
    }
  }

  .gallery__wrapper {
    position: relative;
    max-width: $max-width-1100;
    margin: 0 auto;
    padding: 2rem 0;

    .link {
      position: sticky;
      top: calc(2rem + $navbar-height);
    }

    .grid {
      padding-top: 1rem;
      max-width: $max-width-700;
      margin: 0 auto;
      display: grid;
      gap: 0.5rem;

      .grid-row {
        width: 100%;

        .image {
          position: relative;
          display: block;
          overflow: hidden;
          height: 100%;
          width: 100%;
          aspect-ratio: 5 / 4;
          //border-radius: $border-radius-1;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .complex-row {
        display: grid !important;
        grid-auto-columns: 1fr !important;
        grid-auto-rows: 1fr !important;
        gap: 0.5rem !important;
        grid-template-columns: 1fr 1fr !important;

        .placeholder {
          height: 100%;
          width: 100%;
          background-color: color(gray, 200);
        }
      }
    }
  }
}

.modal__wrapper {
  padding: 0 var(--container-x-padding);

  .modal {
    &.discount {
    }
  }
}

.drawer__wrapper {
  .drawer {
  }
}

.confirm-delete {
  padding: 0;

  .modal__content {
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    div {
      width: 8rem;
      height: 8rem;
      border-radius: $border-radius-1;
      overflow: hidden;
      background-color: color(gray, 200);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .modal__actions {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0rem !important;
    box-sizing: content-box;
    max-width: $media-query-sm;
    padding: 0 1.5rem;
    margin: 0 auto;
    padding-bottom: 2rem;

    .button {
      border-radius: $border-radius-2 !important;
    }
  }

  .drawer__content {
    padding-top: 0 !important;

    .modal__content {
      margin: 0 !important;
      padding: 2rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      div {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: color(gray, 200);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      p {
        text-align: center;
      }
    }

    .modal__actions {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 0rem;
      box-sizing: content-box;
      max-width: $media-query-sm;
      padding: 0 1.5rem;
      margin: 0 auto;
      padding-bottom: 0.5rem;

      .button {
        border-radius: $border-radius-2;
      }
    }
  }
}

@media only screen and (max-width: $max-width-900) {
  .product {
    .gallery__wrapper {
      .link {
        position: relative;
        top: 0;
      }
    }
  }
}

@media only screen and (max-width: $media-query-md) {
  .user-products__wrapper {
    .products__list {
      .product__item {
        .product__item-header {
          .product__item-carousel {
            .carousel__button {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
