@import "variables";
@import "mixins";

.toast__wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  @include flex(column, flex-end, flex-end);
  row-gap: 0.5rem;
  width: auto;
  height: auto;
  z-index: 999999;
}

.toast {
  position: relative;
  right: 1rem;
  bottom: 1rem;
  @include flex(row, center, center);
  @include border-radius($border-radius-1);
  @include box-shadow($box-shadow);
  @include user-select(none);
  min-width: 10rem;
  padding: 1rem 1.25rem;
  gap: 1rem;
  cursor: pointer;
  background-color: $clr-white;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: $clr-black;
    animation: toast 5s linear;
  }

  h3 {
    font-size: $fs-18;
    font-weight: 600;
    color: $clr-font-headline;
    line-height: 1;
    vertical-align: middle;
  }

  .toast__icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: $fs-28;
    color: $clr-font-headline;
  }

  .toast__close {
    all: unset;
    @include flex(row, center, center);
    @include border-radius(50%);
    background-color: color(gray, 200);
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    font-size: $fs-18;
    transition: all 0.2s $animation-cubic;

    &:hover {
      background-color: color(gray, 300);
      // color: color(gray, 600);
    }
  }

  &.success {
    background-color: color(green, 500);

    &::after {
      background-color: color(green, 50);
    }

    .toast__icon {
      color: color(green, 50);
    }

    h3 {
      color: color(green, 50);
    }

    .toast__close {
      color: color(green, 50);
      background-color: transparent;

      &:hover {
        background-color: color(green, 400);
      }
    }
  }

  &.error {
    background-color: color(red, 500);

    &::after {
      background-color: color(red, 50);
    }

    .toast__icon {
      color: color(red, 50);
    }

    h3 {
      color: color(red, 50);
    }

    .toast__close {
      color: color(red, 50);
      background-color: transparent;

      &:hover {
        background-color: color(red, 400);
      }
    }
  }

  &.warning {
    background-color: color(yellow, 500);

    &::after {
      background-color: color(yellow, 50);
    }

    .toast__icon {
      color: color(yellow, 50);
    }

    h3 {
      color: color(yellow, 50);
    }

    .toast__close {
      color: color(yellow, 50);
      background-color: transparent;

      &:hover {
        background-color: color(yellow, 400);
      }
    }
  }

  &.info {
    background-color: color(blue, 500);

    &::after {
      background-color: color(blue, 50);
    }

    .toast__icon {
      color: color(blue, 50);
    }

    h3 {
      color: color(blue, 50);
    }

    .toast__close {
      color: color(blue, 50);
      background-color: transparent;

      &:hover {
        background-color: color(blue, 400);
      }
    }
  }
}

@media only screen and (max-width: $media-query-sm) {
  .toast__wrapper {
    width: 100%;
    height: 0;
    padding: 0 1rem;
    @include flex(column, flex-start, flex-start);
    top: 2rem;
  }

  .toast {
    right: 0;
    width: 100%;
    min-width: 100%;
    @include flex(row, space-between, center);
    column-gap: 0;
    height: auto;
    min-height: 3.5rem;
    padding: 1rem;
    border-radius: $border-radius-1;
    margin-bottom: 0.125rem;

    h3 {
      font-size: $fs-16;
      text-align: center;
    }

    .toast__icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    .toast__close {
      height: 1.5rem;
      width: 1.5rem;
      font-size: $fs-16;
    }
  }
}
