@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.toast {
  font-family: $font-primary !important;
  color: $clr-font !important;
  letter-spacing: -0.008em !important;
  font-size: $fs-14 !important;
  // border: 1px solid color(gray, 200) !important;
}

.toast--success {
  color: color(green, 600) !important;
  background-color: color(green, 50) !important;
  border: 1px solid color(green, 100) !important;
}

.toast--error {
  color: color(red, 500) !important;
  background-color: color(red, 50) !important;
  border: 1px solid color(red, 100) !important;
}

.toast--info {
  color: color(blue, 700) !important;
  background-color: color(blue, 50) !important;
  border: 1px solid color(blue, 100) !important;
}

.toast--warning {
  color: color(yellow, 600) !important;
  background-color: color(yellow, 50) !important;
  border: 1px solid color(yellow, 100) !important;
}

.toast--loading {
  .sonner-loader {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 1rem;
    height: 1rem;

    svg {
      animation: spin 0.75s linear infinite;
    }
  }
}
