@use "variables" as *;
@use "palette" as *;
@use "mixins" as *;

.tooltip {
  background: color(gray, 900);
  color: $clr-font-light;
  pointer-events: none;
  border-radius: $border-radius-0_5;
  padding: 0.375rem 0.75rem;
  font-size: $fs-15;
  line-height: 1.5;
  max-width: $max-width-400;
  z-index: 9999999999;
}
