@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
.border {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
}

.chat {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: calc(100svh - 4.5rem - 1px);
  overflow: hidden;
}
.chat .inbox__panel {
  flex: 0 0 var(--chat-panel-width);
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dee2e6;
}
.chat .inbox__panel .inbox__header {
  padding: 1rem 2rem 2rem var(--container-x-padding);
}
.chat .inbox__panel .inbox__header div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 2.75rem;
}
.chat .inbox__panel .inbox__header div:first-child h1 {
  font-size: 1.375rem;
  font-weight: 600;
}
.chat .inbox__panel .inbox__header div:first-child .search-box {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  z-index: 10 !important;
  border-radius: 2rem;
  background-color: #e9ecef;
  padding: 0.375rem 1rem;
  cursor: text;
}
.chat .inbox__panel .inbox__header div:first-child .search-box svg {
  height: 1.25rem;
  width: 1.25rem;
  color: #868e96;
}
.chat .inbox__panel .inbox__header div:first-child .search-box input {
  all: unset;
  position: relative;
  width: 100%;
  font-size: 1rem;
  transition: border 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.chat .inbox__panel .inbox__header div:first-child .tertiary {
  height: 2.5rem;
  margin: 0;
  font-size: 0.875rem;
}
.chat .inbox__panel .inbox__header div:first-child div:not(.search-box) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.chat .inbox__panel .inbox__header div:first-child div:not(.search-box) a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #e9ecef;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.chat .inbox__panel .inbox__header div:first-child div:not(.search-box) a:hover {
  background-color: #dee2e6;
}
.chat .inbox__panel .inbox__header div:first-child div:not(.search-box) a svg {
  width: 1.125rem;
  height: 1.125rem;
}
.chat .inbox__panel .inbox__content {
  flex: 1;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 2rem 0 var(--container-x-padding);
}
.chat .inbox__panel .inbox__content .inbox__list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item {
  position: relative;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item .inbox__item-actions {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: none;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item .inbox__item-actions:hover {
  background-color: #fff;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a:hover, .chat .inbox__panel .inbox__content .inbox__list .inbox__item a.active {
  background-color: #f1f3f5;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a:hover .inbox__item-actions, .chat .inbox__panel .inbox__content .inbox__list .inbox__item a.active .inbox__item-actions {
  display: flex;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a .image {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border-radius: 50%;
  color: #f8f9fa;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  line-height: 4rem;
  font-size: 1.125rem;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a .inbox__item__details {
  flex: 1 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.875rem;
  line-height: normal;
  color: #868e96;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a .inbox__item__details.unread {
  font-weight: 700;
  color: #212529;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a .inbox__item__details div {
  display: flex;
  align-items: center;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a .inbox__item__details div:first-child {
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a .inbox__item__details div:last-child {
  max-width: 10rem;
}
.chat .inbox__panel .inbox__content .inbox__list .inbox__item a .inbox__item__details div .new-indicator {
  display: inline-block;
  margin-right: 0.25rem;
  background-color: #d63333;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.chat .inbox__panel .inbox__content .no-messages {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.chat .messages__panel {
  flex: 1 1 0% !important;
  position: relative;
  display: flex;
  flex-direction: column;
}
.chat .messages__panel.no-selection {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.chat .messages__panel .messages__header {
  position: relative;
  height: 4.5rem;
  padding: 0 var(--container-x-padding) 0 2rem;
  border-bottom: 1px solid #dee2e6;
}
.chat .messages__panel .messages__header .messages__header__details {
  cursor: pointer;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.chat .messages__panel .messages__header .messages__header__details svg {
  transform: translateX(-0.1875rem);
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.chat .messages__panel .messages__header .messages__header__details:hover svg {
  transform: translateX(0);
  opacity: 1;
}
.chat .messages__panel .messages__header .messages__header__details .image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #f8f9fa;
}
.chat .messages__panel .messages__header .messages__header__details .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  line-height: 2.5rem;
  font-size: 0.8125rem;
}
.chat .messages__panel .messages__header .messages__header__details .messages__header__details__info h4 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 20rem;
}
.chat .messages__panel .messages__content {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}
.chat .messages__panel .messages__content .messages__list {
  display: flex;
  padding: 0 var(--container-x-padding) 0 2rem;
  height: auto;
  max-height: 100%;
  flex-direction: column-reverse !important;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.chat .messages__panel .messages__content .messages__list .date-divider h3 {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  margin: 1rem 0;
  padding: 0rem 1.5rem;
}
.chat .messages__panel .messages__content .messages__list .date-divider p {
  text-align: center;
  font-size: 0.875rem;
  color: #868e96;
  line-height: 1rem;
  margin-bottom: 1rem;
}
.chat .messages__panel .messages__content .messages__list .message__group {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0.25rem 0.125rem 1rem;
  width: 100%;
}
.chat .messages__panel .messages__content .messages__list .message__group .group__avatar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  color: #f8f9fa;
}
.chat .messages__panel .messages__content .messages__list .message__group .group__avatar .image {
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.125rem;
  font-size: 0.75rem;
  border-radius: 50%;
}
.chat .messages__panel .messages__content .messages__list .message__group .group__avatar .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat .messages__panel .messages__content .messages__list .message__group .group__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat .messages__panel .messages__content .messages__list .message__group .group__wrapper .group__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 0 0.25rem 1rem;
}
.chat .messages__panel .messages__content .messages__list .message__group .group__wrapper .group__header span {
  font-size: 0.75rem;
  color: #868e96;
  line-height: 1;
}
.chat .messages__panel .messages__content .messages__list .message__group .group__wrapper .group__messages {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
.chat .messages__panel .messages__content .messages__list .message__group .group__wrapper .group__messages .message {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat .messages__panel .messages__content .messages__list .message__group .group__wrapper .group__messages .message .message__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.75rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
  background-color: #e9ecef;
  border-radius: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
}
.chat .messages__panel .messages__content .messages__list .message__group .group__wrapper .group__messages .message .message__body div {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}
.chat .messages__panel .messages__content .messages__list .message__group.own .group__header {
  justify-content: flex-end;
}
.chat .messages__panel .messages__content .messages__list .message__group.own .group__header span {
  margin: 0 1rem 0 0.25rem;
}
.chat .messages__panel .messages__content .messages__list .message__group.own .group__messages .message:only-child .message__body {
  border-radius: 1rem !important;
}
.chat .messages__panel .messages__content .messages__list .message__group.own .group__messages .message:first-of-type .message__body {
  border-radius: 1rem 1rem 0.25rem 1rem;
}
.chat .messages__panel .messages__content .messages__list .message__group.own .group__messages .message:last-of-type .message__body {
  border-radius: 1rem 0.25rem 1rem 1rem;
}
.chat .messages__panel .messages__content .messages__list .message__group.own .group__messages .message:not(:first-of-type):not(:last-of-type) .message__body {
  border-radius: 1rem 0.25rem 0.25rem 1rem !important;
}
.chat .messages__panel .messages__content .messages__list .message__group.own .group__messages .message .message__body {
  background-color: #212529;
  color: #f8f9fa;
  margin-left: auto;
  align-items: flex-end;
}
.chat .messages__panel .messages__content .messages__list .message__group.own .group__messages .message .message__body div {
  color: #f8f9fa;
}
.chat .messages__panel .messages__content .messages__list .message__group:not(.own) .message:only-child .message__body {
  border-radius: 1rem !important;
}
.chat .messages__panel .messages__content .messages__list .message__group:not(.own) .message:first-of-type:not(:only-child) .message__body {
  border-radius: 1rem 1rem 1rem 0.25rem;
}
.chat .messages__panel .messages__content .messages__list .message__group:not(.own) .message:last-of-type:not(:only-child) .message__body {
  border-radius: 0.25rem 1rem 1rem 1rem;
}
.chat .messages__panel .messages__content .messages__list .message__group:not(.own) .message:not(:first-of-type):not(:last-of-type) .message__body {
  border-radius: 0.25rem 1rem 1rem 0.25rem !important;
}
.chat .messages__panel .messages__footer {
  flex: 0 0 auto;
  position: relative;
  padding: 0 var(--container-x-padding) 2rem 2rem;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper {
  width: 100%;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper.focused {
  border: 1px solid #0070e8;
  outline: 1px solid #0070e8;
  background-color: #fff;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__input {
  display: flex;
  align-items: center;
  padding: 0 0 0.75rem 1.25rem;
  width: 100%;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__input textarea {
  all: unset;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  resize: none;
  font-family: "Nunito Sans", sans-serif !important;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 40svh;
  padding: 1.25rem 1.25rem 0 0;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 1rem;
  line-height: 1.3125rem;
  overflow-y: auto;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .max-length {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1.5rem;
  color: #868e96;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .max-length.over-limit {
  color: #cc0000;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .max-length div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 0.9;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .max-length div svg {
  margin-right: 0.25rem;
  fill: #cc0000;
  color: #fff;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 8rem;
  overflow-y: auto;
  padding: 0.75rem 1.25rem;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__images .image-preview {
  position: relative;
  width: 5rem;
  height: 5rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  overflow: hidden;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__images .image-preview .image {
  width: 100%;
  height: 100%;
  font-size: 0.5rem;
  color: #f8f9fa;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__images .image-preview .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  text-transform: lowercase !important;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__images .image-preview button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__images .image-preview button:hover {
  background-color: #343a40;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__images .image-preview button svg {
  width: 1rem;
  height: 1rem;
  color: #f8f9fa;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 1rem 1rem;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__actions .btn__upload-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 3rem;
  width: 3rem;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__actions .btn__upload-images .button.secondary {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__actions .btn__upload-images .button.secondary:hover {
  background-color: #dee2e6;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__actions .btn__send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
}
.chat .messages__panel .messages__footer .chat__message__input__wrapper .chat__message__actions .btn__send .button.primary {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
}

@media only screen and (max-width: 900px) {
  .border {
    display: none;
  }
  .chat {
    height: calc(100svh - (7.25rem + 2px) + 2px);
  }
}
@media only screen and (max-width: 768px) {
  .chat .inbox__panel {
    flex: 1 1 0% !important;
  }
  .chat .inbox__panel .inbox__header {
    padding: 1rem var(--container-x-padding);
  }
  .chat .inbox__panel .inbox__content {
    padding: 0 var(--container-x-padding);
  }
  .chat .messages__panel .messages__header {
    padding: 0 var(--container-x-padding);
  }
  .chat .messages__panel .messages__header .messages__header__details .messages__header__details__back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #e9ecef;
    transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .chat .messages__panel .messages__header .messages__header__details .messages__header__details__back svg {
    width: 1.25rem;
    height: 1.25rem;
    transform: none;
    opacity: 1;
  }
  .chat .messages__panel .messages__header .messages__header__details .messages__header__details__back:hover {
    background-color: #dee2e6;
  }
  .chat .messages__panel .messages__content .messages__list {
    padding: 0 var(--container-x-padding);
  }
  .chat .messages__panel .messages__footer {
    padding: 0 var(--container-x-padding) var(--container-x-padding);
  }
}/*# sourceMappingURL=chat.css.map */